@page "/comments/details"
@using Microsoft.EntityFrameworkCore
@using BestRecipes.Domain
@inject IDbContextFactory<BestRecipes.Data.BestRecipesContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Comment</h2>
    <hr />
    @if (comment is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Content</dt>
            <dd class="col-sm-10">@comment.Content</dd>
            <dt class="col-sm-2">Date</dt>
            <dd class="col-sm-10">@comment.Date</dd>
            <dt class="col-sm-2">UserId</dt>
            <dd class="col-sm-10">@comment.UserId</dd>
            <dt class="col-sm-2">RecipeId</dt>
            <dd class="col-sm-10">@comment.RecipeId</dd>
            <dt class="col-sm-2">DateCreated</dt>
            <dd class="col-sm-10">@comment.DateCreated</dd>
            <dt class="col-sm-2">DateUpdated</dt>
            <dd class="col-sm-10">@comment.DateUpdated</dd>
            <dt class="col-sm-2">CreatedBy</dt>
            <dd class="col-sm-10">@comment.CreatedBy</dd>
            <dt class="col-sm-2">UpdatedBy</dt>
            <dd class="col-sm-10">@comment.UpdatedBy</dd>
        </dl>
        <div>
            <a href="@($"/comments/edit?id={comment.Id}")">Edit</a> |
            <a href="@($"/comments")">Back to List</a>
        </div>
    }
</div>

@code {
    private Comment? comment;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        comment = await context.Comment.FirstOrDefaultAsync(m => m.Id == Id);

        if (comment is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
